/* Your styles go here */
@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

//Before imports
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

$font-family-sans-serif: 'Sofia Sans Semi Condensed', system-ui, sans-serif;
$font-header: 'Commissioner', sans-serif;

$dGray: #343743;
$lGray: #b9bbca;
$dBlue: #3A48AB;
$lBlue: #5469FA;
$dYellow: #FF941C;
$lYellow: #FFCD43;

$custom-colors: (
    "dGray": #343743,
    "lGray": #b9bbca,
    "dBlue": #3A48AB,
    "lBlue": #5469FA,
    "dYellow": #FF941C,
    "lYellow": #FFCD43,
);

//Bootstrap import
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$theme-colors: map-merge($theme-colors, $custom-colors);

@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';

//Opt imports
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/list-group';

@import 'bootstrap/scss/helpers';

$utilities: map-merge(
    $utilities,
    (
        "background-color": (
            property: background-color,
            class: bg,
            values: $theme-colors,
        ),
        "text-color": (
            property: color,
            class: text,
            values: $theme-colors,
        )
    )
);

@import 'bootstrap/scss/utilities/api';

//after imports

body {
    background-color: $dBlue;
    font-size: 1.25rem;
}

.navbar-brand, .brand-img {
    width: 100px;
    height: auto;
}

nav {
    background: linear-gradient(55deg, white 160px, $lBlue 160px, $lBlue 255px, $dBlue 50%, $dBlue);
    border-bottom: 5px solid white;

    .nav-link {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        border-bottom: 5px solid $dBlue;

        &:hover {
            color: $lYellow;
            border-bottom: 5px solid white;
        }
    }
}

.btn {
    background-color: $lYellow;

    &:hover {
        background-color: $dYellow;
    }
}

header {
    margin-bottom: 100px;
}

.jumbotron {
    padding-top: 200px;

    &-banner {
        padding-top: 120px;
        border-top: 5px solid white;
    }
    
    &-index {
        background: linear-gradient(rgba($lGray, .3), rgba($dGray, .8)), url("../images/index_jumbo.jpg") no-repeat center top / cover;
        border-bottom: 5px solid white;
    }

    &-about {
        background: linear-gradient(rgba($lGray, .3), rgba($dGray, .8)), url("../images/about_jumbo.jpg") no-repeat center top / cover;
        border-bottom: 5px solid white;
    }

    &-belatross {
        background: linear-gradient(rgba($lGray, .3), rgba($dGray, .8)), url("../images/belatross_jumbo.jpg") no-repeat center top / cover;
        border-bottom: 5px solid white;
    }

    &-supermart {
        background: linear-gradient(rgba($lGray, .3), rgba($dGray, .8)), url("../images/supermart_jumbo.png") no-repeat center top / cover;
        border-bottom: 5px solid white;
    }

    &-store {
        background: linear-gradient(rgba($lGray, .3), rgba($dGray, .8)), url("../images/store_jumbo.jpg") no-repeat center top / cover;
        border-bottom: 5px solid white;
    }
}

.section-main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 80%;
    padding: 1.5rem;
    background-color: white;
    color: $dGray;
    border-radius: .375rem;
}

.col-r-supermart {
    margin-left: 20rem;
}

.mobile-belatross, .mobile-supermart {
    display: none;
}

footer {
    background: linear-gradient(90deg, $lBlue 255px, $dBlue 50%, $dBlue);
}

@include media-breakpoint-down(md) {

    .navbar-toggler {
        background-color: white;
    }

    nav {
        background: linear-gradient(90deg, white 160px, $lBlue 160px, $lBlue 255px, $dBlue);
        border-bottom: 5px solid white;
    
        .nav-link {
            color: $dGray;
            font-weight: bold;
            font-size: 1.5rem;
            border-bottom: none;
    
            &:hover {
                color: $dYellow;
                border-bottom: 5px solid white;
            }
        }
    }

    .desktop-belatross, .desktop-supermart {
        display: none;
    }

    .mobile-belatross, .mobile-supermart {
        display: block;
    }
}